*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}
/* header */
#header{   
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    padding: 16px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    height: 61px;
}
.header-logo img{
    width: 54%;
}
/* nav */
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav a{
    position: relative;
    font-size: 0.9em;
    color: #FA92AC;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 20px;
}
#nav .login-btn {
    color: #fff;
    margin-left: 30px;
    font-size: 20px;
}
#nav a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #FA92AC;
    border-radius: 6px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
#nav a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
body{
    background-color: #E3E7E8;
}
.buy-album-section{
    width: 1400px;
    margin: auto;
    transition: 0.5s;
}
.shopping{
    position: relative;
    text-align: right;
    margin-left: 20px;
}
.shopping .ti-shopping-cart{
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}
.shopping span{
    font-size: 10px;
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -3px;
    left: 78%;
    padding: 1px 4px;
}
.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 130px;
    margin-bottom: 130px;
}
.list .item{
    text-align: center;
    background-color: #DCE0E1;
    padding: 20px;
    box-shadow: 0 10px 50px #757676;
    letter-spacing: 1px;
}
.list .item img{
    width: 90%;
    height: 350px;
    object-fit: cover;
}
.list .item .title{
    margin-top: 10px;
    font-weight: 600;
}
.list .item .price{
    margin: 10px;
}
.list .item button{
    background-color: #1C1F25;
    color: #fff;
    width: 100%;
    padding: 10px;
    font-weight: 600;
    font-size: 12px;
    transition: 0.4s;
}
.list .item button:hover{
    cursor: pointer;
    color: #000;
    background-color: transparent;
    border: 2px solid #FA92AC;
}
.cart{
    position: fixed;
    top:0;
    left: 100%;
    width: 500px;
    background: transparent;
    backdrop-filter: blur(30px);
    height: 100vh;
    transition: 0.5s;
}
.active .cart{
    left: calc(100% - 500px);
}
.cart .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);

}
.cart .checkOut div{
    background-color: #FA92AC;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.cart .checkOut div:nth-child(2){
    background-color: #1C1F25;
    color: #fff;
    cursor: pointer;
    grid-template-columns: repeat(2, 1fr);
}
.listCart {
    margin-top: 80px;
}
.listCart li{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #000;
    row-gap: 10px;
}
.listCart li div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.listCart li img{
    width: 90%;
}
.listCart li button{
    background-color: #fff5;
    border: none;
    padding: 2px;
    font-size: 20px;
    cursor: pointer;
}
.listCart li button:first-child{
    padding: 2px 4px;
}
.listCart .count{
    margin: 0 10px;
}
#footer{
    padding: 40px 16px;
    text-align: center;
    background-color: #FA92AC;

}
.socials-icon{
    font-size: 28px;
    opacity: 1;
    color: #000 ;
    margin-bottom: 30px;
}
.socials-icon a{
    text-decoration: none;
    color: #000 ;
}
.copyright{
    font-size: 16px;
    opacity: 1;
    color: #000 ;
}
.copyright a{
    color: #000 ;
}
.socials-icon a:hover,
.copyright a:hover{
    opacity: 0.7;
}